.bradcam1{
background-image: url(../img/banner/bradcam.png);
background-size: cover;
    background-position: bottom;
    padding: 214px 0;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
height:300px;}

.containerprofile {border-radius: 10px;background:white;
  padding: 50px 85px;
  width:50%;
  position: relative;
  margin: 0 auto; 
margin-bottom:20px;
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);}
.containerprofile h1{
color: #1e90ff;}
.box1 img{
height:100px;
width:100px;
border-radius:50px;}

.containerprofile input {
border-bottom:1px solid blue;
border-top:none;
border-left:none;
border-right:none;
 width: 80%;
margin-bottom:10px;
 }

#updatebtn button{
border:1px solid  #1e90ff;
border-radius:8px;
box-shadow:2px 2px #1e90ff;
background:none;
padding:10px;
margin-top:20px;
margin-left:55%;
color: #1e90ff;
cursor:pointer;
}
.containerprofile .box{width:100%;
display:flex;
}
.containerprofile .box1{width:70%;}
.containerprofile .box2{width:70%;
margin-top:124px;}
.box b{color:black;}
#deletecandidateform button{border:1px solid  red;
border-radius:8px;
box-shadow:2px 2px red;
background:none;
padding:10px;
color:red;
cursor:pointer;}


@media only screen and (max-width: 1000px) {
  .containerprofile{
  width:90%;
margin-left:5%;
margin-bottom:5%;
  }
.containerprofile input {
 width: 100%;
 }
.containerprofile .box1{width:50%;}
.containerprofile .box2{padding-left:10px;width:50%;}
#updatebtn button,#deletecandidateform button{font-size:15px;}
#deletecandidateform{margin-top:10px;}
}





